= flash[:notice]
= form_tag import_users_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"

.user-list
  h1 User lists
  = form_tag users_path, method: :get, id: "users_search" do |f|
    = text_field_tag :search
    = submit_tag "Search"

  table
    thead
      tr
        th= sortable "name"
        th= sortable "date"
        th= sortable "number"
        th= sortable "description"

    tbody#users
      = render @users || "empty_list"

